body {
     background: linear-gradient( 160deg, blanchedalmond,#928164 ); padding-bottom: 80px;
}

h1 {
    color: rgb(0, 73, 0); text-decoration: underline;
}

h2,h3 {
    margin-left: 10px ;margin-top: 10px; margin-bottom: 5px;
    color: rgb(62, 90, 5);
}

a {
    display: flex; margin-top: 20px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
 }

p {
    color:darkorange;
}

section {
    margin-bottom: 40px; padding: 10px;
}

.hobbies-table {
    background-color:lightcyan; 
    color: darkorange; 
    padding: 10px; border-width: 5px;
}
 
.text_box_label {
    display: block; margin-bottom: 10px;
}

.hobbies-table td {
    border-width: 2px; padding: 3px;
}

.a-section {
    display: flex; justify-content: center;
    margin-top: 80px;
}

header {
    text-align: center; margin-bottom: 80px;
}

.linkk {
    display: flex; flex-direction: column; align-items: center; 
    padding: 20px 40px; border: 5px solid gold; border-radius: 15px ;
    background-color: dimgray; color: gold; 
    font-weight: bold; font-family: cursive; width: auto; 
    max-width: fit-content;
}

.foot {
    position: fixed; color: orange;bottom: 10px; left: 50%; 
    transform: translateX(-50%);
     background-color: rgba(0, 128, 0, 0.2); 
     border-radius: 8px; display: inline-block;
    text-align: center; z-index: 1000;
}

.image-section { 
    display: flex; justify-content: center; 
    align-items: center; flex-direction: column; 
    min-height: 300px;

}

img { 
    border: 8px solid darkgreen;
}

a;:focus {
    outline: 3px dashed gold;
}

