body { background-color: blanchedalmond;}
h1 {color: darkgreen;}
h2,h3 {margin-left: 10px ;margin-top: 10px; margin-bottom: 5px;color: olivedrab;}
a {border-color: gold ;border-style: solid ;border-width: 5px; 
    padding:  40px; color: gold;
     background-color:  dimgray;font-size:large; 
     font-weight: bold; font-family:cursive; display: inline-block;}
p,footer {color:orange;}
section {margin-bottom: 40px; padding: 10px;}
.hobbies-table {background-color:lightcyan; color: orange; 
    padding: 10px; border-width: 5px;}
 
.text_box_label {display: block; margin-bottom: 10px;}
.hobbies-table td {border-width: 2px; padding: 3px;}
.a-section {text-align: center;}
header {text-align: center; margin-bottom: 80px;}
