body { background-color: blanchedalmond;}
h1 {color: darkgreen;}
h2,h3 {margin-left: 10px ;margin-top: 10px; margin-bottom: 5px;color: olivedrab;}
a {display: flex; margin-top: 20px; flex-direction: column; justify-content: center; 
    align-items: center; }
p {color:orange;}
section {margin-bottom: 40px; padding: 10px;}
.hobbies-table {background-color:lightcyan; color: orange; 
    padding: 10px; border-width: 5px;}
 
.text_box_label {display: block; margin-bottom: 10px;}
.hobbies-table td {border-width: 2px; padding: 3px;}
.a-section {display: flex; justify-content: center;margin-top: 80px;}
header {text-align: center; margin-bottom: 80px;}
.linkk {display: flex; flex-direction: column; align-items: center; 
padding: 20px 40px; border: 5px solid gold; background-color: dimgray; color: gold; 
font-weight: bold; font-family: cursive; width: auto; max-width: fit-content;}
.foot {position: fixed; color: orange;bottom: 0; left: 0; width: 100%; background-color: transparent; 
text-align: center; z-index: 1000;}
body {padding-bottom: 80px;}